.h1 {
    font-family: erdana,helvetica,arial,sans-serif;
    font-size: 29px;
    color: #610b38;
}

.pq {
    font-size: 15px;
    text-align: left;
}

.true_answer {
    background-color: rgb(178, 240, 86);
}

.fail_answer {
    background-color: rgb(243, 89, 89);
}